@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Salsa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.60rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color) !important;
  border-radius: 0.5rem;
}

section {
  padding: 50px;

  .section-title {
    text-align: center;
    font-size: 30px;
    font-family: 'Salsa', cursive;
    font-weight: 700;
    color: var(--primary-color);

    &::before {
      content: attr(data-heading);
      display: block;
      position: relative;
      top: 5px;
      font-size: 13px;
      font-weight: 800 !important;
      color: var(--black-color);
      text-transform: uppercase;
      font-family: 'Salsa', cursive;
    }
  }
}

.hero {
  width: 100%;
  overflow: hidden;
  // max-width: 75rem;
  position: relative;
  padding: 50px 0;
  background: #78b9ff;

  .hero-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: #78b9ff;
    border-radius: 10px;
    padding-top: 6.5rem;

    .ads-content {
      padding: 1rem 3rem;

      .subtitle {
        margin-bottom: 0;
        font-size: 1.3rem;
        letter-spacing: 0.8px;
        word-spacing: 5px;
        font-family: 'Salsa', cursive;
        position: relative;
        top: 5px;

        span {
          color: var(--white-color);
        }
      }

      h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        font-size: 65px;
        line-height: 4.3rem;

        span {
          font-family: 'Salsa', cursive;
          color: var(--primary-color);
        }
      }

      .desc {
        font-size: 25px;
        margin: 0;
        line-height: 1.8rem;
        font-weight: 600;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: var(--white-color);
      }

      .btn-content {
        padding: 15px 0px;

        .book-btn {
          border-radius: 99px;
          padding: 10px 30px;
          font-size: 1.1rem;
          background: var(--primary-color);
          font-family: 'Salsa', cursive;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          border: none;

          &:hover {
            background: var(--white-color) !important;
            color: var(--primary-color);
            transform: translateY(-5px);
            box-shadow: 0 3px 10px var(--primary-color);
          }
        }
      }
    }

    .img-content {
      border-radius: 200px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      width: 35rem;
      height: 20rem;
      margin: 30px 0;
      display: block;

      .bg {
        transform: rotateY(180deg);
        object-fit: cover;
      }
    }
  }
}

// very large display
@media (min-width: 1400px) and (max-width: 1950px) {
  .hero {
    padding: 50px 0;

    .hero-content {
      padding-top: 5.5rem;

      .ads-content {
        .subtitle {
          font-size: 1.8rem;
        }

        h1 {
          font-size: 85px;
          line-height: 5.5rem;
        }

        .desc {
          line-height: 3rem;
          font-size: 35px;
        }

        .btn-content {
          margin-top: 20px !important;

          .book-btn {
            font-size: 2rem;
            padding: 15px 40px;
          }
        }
      }

      .img-content {
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        width: 52rem;
        height: 30rem;
        margin: 50px 0;
      }
    }
  }
}

// extra extra large (desktop)
@media (max-width: 1400px) {}

// extra large (laptops)
@media (min-width: 1200px) and (max-width: 1400px) {
  .hero {
    padding: 25px 0;

    .hero-content {
      padding-top: 5.5rem;

      .ads-content {
        .subtitle {
          font-size: 1rem;
        }

        h1 {
          font-size: 50px;
          line-height: 3.3rem;
        }

        .desc {
          line-height: 1.5rem;
          font-size: 18px;
        }

        .btn-content {
          margin-top: 5px !important;

          .book-btn {
            font-size: 0.9rem;
            padding: 10px 25px;
          }
        }
      }

      .img-content {
        width: 30rem;
        height: 18rem;
        margin: 15px 0;
      }
    }
  }
}

// large (laptop or Tab)
@media (min-width: 992px) and (max-width: 1200px) {}

// medium (Tab)
@media (min-width: 768px) and (max-width: 992px) {}

// small (mobile or Tablet)
@media (min-width: 576px) and (max-width: 768px) {}

// very small (mobile)
@media (max-width: 576px) {
  section {
    padding: 30px 20px;

    .section-title {
      font-size: 25px;

      &::before {
        font-size: 12px;
      }
    }
  }

  .hero {
    padding: 25px 0;

    .hero-content {
      padding-top: 5.5rem;
      flex-direction: column;

      .ads-content {
        padding: 10px 25px;

        .subtitle {
          font-size: 15px;
        }

        h1 {
          font-size: 37px;
          line-height: 2.5rem;
        }

        .desc {
          line-height: 1.2rem;
          font-size: 16px;
          letter-spacing: 0.5px;
        }

        .btn-content {
          margin-top: 5px !important;

          .book-btn {
            font-size: 13px;
            padding: 5px 15px;
          }
        }
      }

      .img-content {
        width: 95%;
        height: 15rem;
        margin: 5px 0;
        margin-left: 20px;
      }
    }
  }
}